.opaco {
    opacity: .8;
}

.card-body {
    text-align: justify;
}

.card-title {
    text-align: center;
}

.foco0{
    color: black;
    font-size: 28px;
    text-align: end;
}

.foco {
    color: black;
    font-size: 20px;
    text-align: justify;
}

.invisivel_1 {
    color: rgb(5, 5, 31);
}

body {
    background-color: rgba(51, 79, 122, 0);
}

p {
    text-align: justify;
}

#vermelho {
    color: brown;
}

#TituloModalCentralizado {
    text-align: center;
    color: brown;
    font-weight: bold;
}
